{% extends 'base.html' %}


{% block title %}
  Car #{{ car.id }}
{% endblock %}

{% block body %}
  <h1>Car details</h1>
  <div>
    <h3>
      {{ car.name }}
      {% if car.is_new %}
        <span class="badge bg-secondary">New</span>
      {% endif %}
    </h3>
    Created at {{ car.created_at }}
  </div>
  <div>
    Updated at:
    {% if car.updated_at %}
      {{ car.updated_at }}
    {% else %}
      {{ car.created_at }}
    {% endif %}
  </div>
  <br>
  <div>
    <form method="post">
        <label for="update-name">Update car name with</label>
        <input
            id="update-name"
            type="text"
            name="car-name"
            value="{{ car.name }}"
            required
        >
      <br>
      <button class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>
  <div>
    <a href="{{ url_for("cars_app.list") }}">
      Back to cars list
    </a>
  </div>
{% endblock %}